<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Re-anthentication</title>
  <style>
  h2{
    color: blue;
    text-align: center;
    
    }  
  form {
     max-width: 300px;
    margin: 0 auto 50px auto;
    padding: 20px;
    background-color: cyan;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 18px
    
    
    }
    
    
    
  </style>
</head>

<body>
 <h2>Request SSH account reinstatement</h2>
<form method="POST">
    Enter your IP Address: <input name="ip"><br>
    <input type="submit" value="Get OTP" style="font-size: 15px; color:black; background-color: red; border-radius: 6px;" onmouseover="this.style.backgroundColor='#eb5757';this.style.cursor='pointer'" onmouseout = "this.style.backgroundColor='red';">
</form>

 
</body>

</html>
